$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #403f3f;
$dark-gray: #212020;

$lightest-blue: #7dabf1;
$light-blue: #3372d4;
$blue: #1853af;
$dark-blue: #154693;
$darkest-blue: #0e2f65;


$yellow: #fffc04;
$orange: #ed9c3c;

$red: #7d1919;
$green: #4bcb3b;
$hi-lite-green: #71d243;
