<h2>Edit band Name</h2>

<form action="<%= band_url(@band.id) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label>
    <input type="text" name="band[name]" value="<%= @band.name %>">
  </label>

  <input class="button" type="submit" value="Update band name">
</form>
