<h2>Add a band</h2>

<form class="" action="<%= bands_url %>" method="post">
  <%= auth_token %>
  
  <label>
    <input type="text" name="band[name]" value="">
  </label>

  <input class="button" type="submit" name="" value="Add band">
</form>
